@use "./dp";

@mixin standard-typescale() {
    --default-font: "Roboto", sans-serif;

    --md-sys-typescale-display-large-font: var(--default-font);
    --md-sys-typescale-display-large-line-height: #{dp.dp(64)};
    --md-sys-typescale-display-large-size: #{dp.dp(57)};
    --md-sys-typescale-display-large-tracking: #{dp.dp(-0.25)};
    --md-sys-typescale-display-large-weight: 400;
    --md-sys-typescale-display-medium-font: var(--default-font);
    --md-sys-typescale-display-medium-line-height: #{dp.dp(52)};
    --md-sys-typescale-display-medium-size: #{dp.dp(45)};
    --md-sys-typescale-display-medium-tracking: 0;
    --md-sys-typescale-display-medium-weight: 400;
    --md-sys-typescale-display-small-font: var(--default-font);
    --md-sys-typescale-display-small-line-height: 2.75em;
    --md-sys-typescale-display-small-size: #{dp.dp(44)};
    --md-sys-typescale-display-small-tracking: #{dp.dp(36)};
    --md-sys-typescale-display-small-weight: 400;
    --md-sys-typescale-headline-large-font: var(--default-font);
    --md-sys-typescale-headline-large-line-height: #{dp.dp(40)};
    --md-sys-typescale-headline-large-size: #{dp.dp(32)};
    --md-sys-typescale-headline-large-tracking: 0;
    --md-sys-typescale-headline-large-weight: 400;
    --md-sys-typescale-headline-medium-font: var(--default-font);
    --md-sys-typescale-headline-medium-line-height: #{dp.dp(36)};
    --md-sys-typescale-headline-medium-size: #{dp.dp(28)};
    --md-sys-typescale-headline-medium-tracking: 0;
    --md-sys-typescale-headline-medium-weight: 400;
    --md-sys-typescale-headline-small-font: var(--default-font);
    --md-sys-typescale-headline-small-line-height: #{dp.dp(32)};
    --md-sys-typescale-headline-small-size: #{dp.dp(24)};
    --md-sys-typescale-headline-small-tracking: 0;
    --md-sys-typescale-headline-small-weight: 400;
    --md-sys-typescale-title-large-font: var(--default-font);
    --md-sys-typescale-title-large-line-height: #{dp.dp(28)};
    --md-sys-typescale-title-large-size: #{dp.dp(22)};
    --md-sys-typescale-title-large-tracking: 0;
    --md-sys-typescale-title-large-weight: 400;
    --md-sys-typescale-title-medium-font: var(--default-font);
    --md-sys-typescale-title-medium-line-height: #{dp.dp(24)};
    --md-sys-typescale-title-medium-size: #{dp.dp(16)};
    --md-sys-typescale-title-medium-tracking: #{dp.dp(0.15)};
    --md-sys-typescale-title-medium-weight: 500;
    --md-sys-typescale-title-small-font: var(--default-font);
    --md-sys-typescale-title-small-line-height: #{dp.dp(20)};
    --md-sys-typescale-title-small-size: #{dp.dp(14)};
    --md-sys-typescale-title-small-tracking: #{dp.dp(0.1)};
    --md-sys-typescale-title-small-weight: 500;
    --md-sys-typescale-label-large-font: var(--default-font);
    --md-sys-typescale-label-large-line-height: #{dp.dp(20)};
    --md-sys-typescale-label-large-size: #{dp.dp(14)};
    --md-sys-typescale-label-large-tracking: #{dp.dp(0.1)};
    --md-sys-typescale-label-large-weight: 500;
    --md-sys-typescale-label-medium-font: var(--default-font);
    --md-sys-typescale-label-medium-line-height: #{dp.dp(16)};
    --md-sys-typescale-label-medium-size: #{dp.dp(12)};
    --md-sys-typescale-label-medium-tracking: #{dp.dp(0.5)};
    --md-sys-typescale-label-medium-weight: 500;
    --md-sys-typescale-label-small-font: var(--default-font);
    --md-sys-typescale-label-small-line-height: #{dp.dp(16)};
    --md-sys-typescale-label-small-size: #{dp.dp(11)};
    --md-sys-typescale-label-small-tracking: #{dp.dp(0.5)};
    --md-sys-typescale-label-small-weight: 500;
    --md-sys-typescale-body-large-font: var(--default-font);
    --md-sys-typescale-body-large-line-height: #{dp.dp(24)};
    --md-sys-typescale-body-large-size: #{dp.dp(16)};
    --md-sys-typescale-body-large-tracking: #{dp.dp(0.5)};
    --md-sys-typescale-body-large-weight: 400;
    --md-sys-typescale-body-medium-font: var(--default-font);
    --md-sys-typescale-body-medium-line-height: #{dp.dp(20)};
    --md-sys-typescale-body-medium-size: #{dp.dp(14)};
    --md-sys-typescale-body-medium-tracking: #{dp.dp(0.25)};
    --md-sys-typescale-body-medium-weight: 400;
    --md-sys-typescale-body-small-font: var(--default-font);
    --md-sys-typescale-body-small-line-height: #{dp.dp(16)};
    --md-sys-typescale-body-small-size: #{dp.dp(12)};
    --md-sys-typescale-body-small-tracking: #{dp.dp(0.4)};
    --md-sys-typescale-body-small-weight: 40;
}

@mixin use-scale($name) {
    font-family: var(--md-sys-typescale-#{$name}-font);
    font-size: var(--md-sys-typescale-#{$name}-size);
    font-weight: var(--md-sys-typescale-#{$name}-weight);
    line-height: var(--md-sys-typescale-#{$name}-line-height);
    letter-spacing: var(--md-sys-typescale-#{$name}-tracking);
}
